@CHARSET "UTF-8";


body {
    color:#333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    background-color:#EEEEEE;


}

#header {
    width: 100%;
    height: 70px;
    background-color:#555555;
    letter-spacing: -1em; /* 文字間を詰める */
    white-space: nowrap; /* 自動で折り返ししない */



}


#footer {

    background-color:#555555;
    color:white;
    margin-bottom:0px;

}

#wrapper2 {

    display:flex;
    justify-content: space-between;
    min-height:695px;

}

#main {
    width:77%;
    background-color:white;
    box-shadow: 0px 0px 4px rgba(51,51,51,0.2);

}
#content2 {
    width:90%;
    margin:auto;
    margin-top:10px;


}

aside.right {
    width:18%;
}
aside.left {
    width:5%;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;

}

h1 {
    witdth: 94%;
    padding-top:17px;
    padding-left: 3%;
    font-size: 24px;
    color: #eeeeee;
    display:inline
}

h1:hover {
    background-color: #AAAAAA;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom:15px;
}

a {
    text-decoration: none;
    color: #24738e;
}


table#task_list {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align:center;
    padding: 15px 0;

}

table#task_list tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
  text-align:center;
  padding: 15px 0;
  width:25%;
}

#task_list td {
    text-align:center;
    padding: 15px 0;
    width:25%;
}

table#task_list tr:hover{
  background-color: #d4f0fd;
}


table#task_show {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #cccccc;
}

#task_show th {
    width: 26%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

#task_show td {
    width: 66%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

table#like_show {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #cccccc;
}

#like_show th {
    width: 26%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

#like_show td {
    width: 66%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

table#comment_table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #cccccc;
}

#comment_table th {
    width: 26%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

#comment_table td {
    width: 66%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}


button {
    font-size: 14px;
    padding: 5px 10px;

}

#footer {
    text-align: center;
}

#flush_success {
    width: 92%;
    padding-top: 28px;
    padding-left:28px;
    padding-right:28px;
    padding-bottom: 28px;
    margin-bottom:15px;


    color: #155724;
    background-color: #d4edda;
}
#flush_error {
    width: 92%;
    padding-top: 28px;
    padding-left:28px;
    padding-bottom: 28px;
    padding-right:28px;
     margin-bottom:15px;

    color: #721c24;
    background-color: #f8d7da;
}

select {
    height:30px;

}

#header_menu {
    width: 47%;
    display: inline-block;
    padding-top:17px;
    padding-left:3%;
    letter-spacing: normal; /* 文字間を元に戻す */
    white-space: normal; /* 自動で折り返し(元に戻す) */
}

.person_logout {
    letter-spacing: normal; /* 文字間を元に戻す */
    white-space: normal; /* 自動で折り返し(元に戻す) */
    display: inline-block;
    width: 36%;
    text-align:right;



}
#person_name {
    letter-spacing: normal; /* 文字間を元に戻す */
    white-space: normal; /* 自動で折り返し(元に戻す) */
    display: inline-block;
    text-align:right;

}

#person_name:hover {
    background-color: #AAAAAA;
}

#logout {
    letter-spacing: normal; /* 文字間を元に戻す */
    white-space: normal; /* 自動で折り返し(元に戻す) */
    display: inline-block;
    text-align:right;

}
#logout:hover {
    background-color: #AAAAAA;
}

#group_name {
    display: inline-block;
    letter-spacing: normal; /* 文字間を元に戻す */
    white-space: normal; /* 自動で折り返し(元に戻す) */
    color: #eeeeee;

    position:relative;

}
#group_name:hover {
    background-color: #AAAAAA;
}


h1 a {
    color: #eeeeee;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

table#report_list th {
    width: 30%;
    padding: 10px 2%;
}

table#report_list td {
    width: 29%;
    padding: 10px 2%;
}

.dropdown_btn {
  display: block;

  background: none;

}


.dropdown_body {

  width: 250px;
  background: #BBBBBB;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 32px;
  right: 0;
  display: none;

}

.dropdown_btn.is-open + .dropdown_body {
  display: block;
  z-index: 4;
}
.dropdown_list {
  margin: 0;
  padding: 0;
}
.dropdown_item {
  display: block;
}
#header .dropdown_item-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #000000;
}
.dropdown_item-link:hover {
  background: #fbfbfb;
}

#header a {
    color: #eeeeee;
}

.dropdown__btn.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default; /* カーソルはデフォルトに戻しておく */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

td.icon {
    width:5%;
    text-align:right;
}



ul#member_list {

  border-radius :8px;

  padding: 0.5em 0.5em 0.5em 2em;
}
ul#member_list li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: disc;/* リストの左側に黒丸 */
  cursor: pointer;
}

ul#member_list li:hover{
  background-color: #d4f0fd;
}

ul#member_list li#gm {
    list-style-type: none;
    text-align:center;
    font-weight:bold;
}

.red_heart {
    color:#e54747;
    display:inline-block;
}

.white_heart {
    display:inline-block;
}

.circle1 {
    color:red;
}

.circle2{
    color:orange;
}

.circle0 {
    color:blue;
}
.comment {
    display:inline-block;
}

pre {
    white-space: pre-wrap ;
}

#gmm {
    text-align:center;
    margin-top:3px;
    border-bottom: 2px solid #DDDDDD;
}

#gmm:hover{
  background-color: #d4f0fd;
}


#group_member {
    border: 2px solid #DDDDDD;
    border-radius :3px;
    width:80%;
    margin:auto;
    margin-top:10px;
}

table#members_list {
    width:100%;
    background-color:white;
    border-collapse: collapse;
    border-spacing: 0;
    text-align:center;
    padding: 15px 0;
}
table#members_list tr {
    border-bottom: solid 1px #eee;
    cursor:pointer;
    text-align:center;
    padding:15px 0;

}

#members_list td {
    text-align:center;
    padding 15px 0;

}

table#members_list tr:hover {
    background-color:#d4f0fd
}


table.account_show{
    width: 100%;
    table-layout: fixed;
    border: 1px solid #cccccc;
}

.account_show th {
    width: 26%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

.account_show td {
    width: 66%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

.check {
    color:#78FF94;
}

table#person_list{
    width: 100%;
    table-layout: fixed;
    border: 1px solid #cccccc;
}

#person_list th {
    width: 26%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

#person_list td {
    width: 66%;
    padding: 10px 2%;
    border: 1px solid #cccccc;
}

#origin_task {
    border: 2px solid #DDDDDD;
    border-radius :3px;
    width:80%;
    margin:auto;
    background-color:white;
    text-align:center;
    margin-top:10px;
}

#origin_task:hover {
    background-color:#d4f0fd
}
